

<!DOCTYPE html>
 {% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Profile and Portfolio Management System</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
    <!-- Navigation Bar -->

    <!-- Main Content -->
    <main class="container">
        {% block content %}{% endblock %}
    </main>
    <!-- Footer -->

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>



